body{
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}
.fieldError{
    color: red;
}
#main{
    margin: auto;
    background-color: grey;
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    width: 60%;
}
#nav{
    display: flex;
    column-gap: 1em;
    background-color: wheat;
    height: 3em;
}
.navBtns{
    height: 100%;
    font-size: 1.1em;
    background-color: wheat;
    border: none;
}
#mainDiv{
    margin: auto;
    width: 90%;
}
.questionDiv{
    display: flex;
    justify-content: space-between;
}
.questionLabel{
    font-size: 1.1em;
}
.questionInput{
    width: 15em;
}   
#submitBtn{
    margin-bottom: 1em;
    float: right;
}
footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;

}
footer>p{
    margin: auto;
}